/ Page Content
.container
  .row
    .col-lg-12.text-center
      %h1 Future Procurement Eco-system Project
      %p.lead
        Компания
        %a{:href => "http://24tender.ru/"} 24TENDER
        представляет эко-систему для работы с закупками.
      %p Вы находитесь на тестовом сервере проекта.
      %ul.list-unstyled
        %li Ruby on Rails
        %li Bootstrap
        %li Devise
  / /.row
/ /.container
