/ Page Content
.container
  .row
    .col-lg-12.text-center
      %h1 Future Procurement Eco-system Project
      %p.lead
        Компания
        %a{:href => "http://24tender.ru/"} 24TENDER
        представляет эко-систему для работы с закупками.
      %br
      %img{:src => "/images/BezonoLogo.png"}
      %br
      %p Вы находитесь на сервере прототипа проекта.	
      %ul.list-unstyled
        %li Ruby on Rails
        %li Bootstrap
        %li Devise
  / /.row
/ /.container
