<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>Future Procurement Eco-system Project</h1>
            <p class="lead">Компания <a href="http://24tender.ru/">24TENDER</a> представляет эко-систему для работы с закупками. </p>
            <p>Вы находитесь на тестовом сервера проекта.</p>
            <ul class="list-unstyled">
                <li>Ruby on Rails</li>
                <li>Bootstrap</li>
                <li>Devise</li>
            </ul>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
