/ Page Content
.container
  .row
    .col-lg-12.text-center
      %h1 Future Procurement Eco-system Project
      %p.lead
        Компания
        %a{:href => "https://4resolve.pro/"} 4RESOLVE
        представляет эко-систему для работы с закупками.
      %br
      %img{:src => "/images/4resolve_logo.png"}
      %br
      %p Вы находитесь на сервере прототипа проекта.
      %ul.list-unstyled
        %li Ruby on Rails
        %li React/Redux
        %li Bootstrap
        %li Devise
  / /.row
/ /.container
