.btn.btn-default.btn-sm{id: "criterion_list", 'data-toggle' => "popover", 'title' => "Предложить критерий", 'data-content' => "#{render 'shared/criterions_in_demand_popover'}"}
  + предложить критерий
-# = link_to "+ предложить критерий", criterions_path(demand_id: demand.id), data: { modal: true }
