= link_to url_for(current_user.active_profile.proofs.where(competence_id: comp.id).first) do
  .btn.btn-danger.btn-sm{id: "competence_proof_#{comp.id}"}
    = icon('exclamation-circle', class: 'fa-lg')
