-# - @competences.each do |competence|
-#   %tr
-#     %td= competence.tag
-#     %td= competence.organization_profiles.count
-#     %td= render "proof", locals: {comp: competence}
-#     -# %td= link_to "Edit", edit_competence_path(competence), remote: true, class: "btn btn-default"
-#     -# %td= link_to "Delete", competence_delete_path(competence), remote: true, class: "btn btn-danger"
