.container

  .well
    = link_to "New Competence", new_competence_path, remote: true, class: "btn btn-primary"

  .new-competence

  .row.competence-index
    = render 'index'
  #competence-modal.modal.fade
