%footer.footer
  .container
    .table-responsive
      %table.table
        %tbody
          %tr
            %td
              .p.text-left
                = Time.now.year
                = icon('copyright')
                = link_to t('home'), root_path
            -# %td
            -#   .p.text-center
            -#     = icon('phone-square')
            -#     8 (800) 775-62-17
            %td
              .p.text-right
                = icon('envelope')
                %a{:href => "mailto:#"} info@4resolve.pro
