%li.dropdown.dropdown-notifications
  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#notifications-panel"}
    - unread_count = UserNotif::Notif.where(user_id: current_user.id).unread.count
    - if unread_count > 0
      %i.glyphicon.glyphicon-bell.notification-icon{"data-count" => unread_count}
    - else
      %i.glyphicon.glyphicon-bell
  .dropdown-container
    .dropdown-toolbar
      .dropdown-toolbar-actions
        %a{:href => "#"} Mark all as read
      %h3.dropdown-toolbar-title= "Notifications (#{UserNotif::Notif.where(user_id: current_user.id).count})"
    %ul.dropdown-menu
      = list_user_notifs(UserNotif::Notif.where(user_id: current_user.id))
    .dropdown-footer.text-center
      %a{:href => "#"} View All
